# Default number of objects per page
PER_PAGE = 9

# Django secret key
SECRET_KEY = 'CHANGE-ME'

# 0 = False - 1 = True
DEBUG = 0

# 0 = False - 1 = True
SELENIUM_HEADLESS = 0

# Database settings
# Sqlite
DATABASE_ENGINE = 'django.db.backends.sqlite3'
DATABASE_NAME = "./db.sqlite3"

# Postgres
# DATABASE_ENGINE='django.db.backends.postgresql'
# DATABASE_NAME="quiz"

DATABASE_USER = "gessecazuza"
DATABASE_PASSWORD = "Gs170323"
DATABASE_HOST = "127.0.0.1"
DATABASE_PORT = "5432"
