
SECRET_KEY='django-insecure-=$8!^#l+kmv&jd(26yk16ixn8!s7pd6gg^yf_i4mw+@2$6a=nm'

## Em Produção (deploy), o debug deve ser False
DEBUG=False

### Configuração de E-Mail
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=587
EMAIL_HOST_USER='gessecazuza@gmail.com'
EMAIL_HOST_PASSWORD='tabb rgvt vcje epgd'
EMAIL_USE_TLS=True

# 0 = False - 1 = True
SELENIUM_HEADLESS = 0
# Defina apenas uma vez, dependendo do banco de dados que deseja usar
# Sqlite
# DATABASE_ENGINE='django.db.backends.sqlite3'
# DATABASE_NAME='./db.sqlite3'

# Postgres: no server será usado o postgreq, configurado diretamente na nuvem
DATABASE_ENGINE='django.db.backends.postgresql'
DATABASE_NAME='quiz'
DATABASE_USER='gessecazuza'
DATABASE_PASSWORD='Gs170323'
DATABASE_HOST='quiz.ct2ackccm0tk.us-west-2.rds.amazonaws.com' # '127.0.0.1'
DATABASE_PORT='5432'

