{% extends 'base.html' %}
{% load static %}


{% block content %} 
<!-- class="erro404" -->
<header class="err404">

	<div class="container px-4 px-lg-5 h-100">
		<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
			<div class="col-lg-8 align-self-end">
				<h1 class="text font-weight-bold"> OPS! LAMENTAMOS MESMO :(</h1>
				<hr class="divider" />
			</div>
			<div class="col-lg-8 align-self-baseline">
				<p class="text-white-75 mb-5"> Parece que está procurando por algo indisponível no momento. 
                    Por favor, verifique se na lista abaixo encontra o que deseja... </p>
				<a class="btn btn-primary btn-xl" href="{% url 'quizes:ListaQuizes' %}"> Nossos Quizes...</a>
			</div>
		</div>
	</div>

</header>

{% endblock %}