{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">

        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Vamos interagir um pouco...</h2>
                <hr class="divider" />
                <p class="text-muted mb-5"> Deseja um tema sobre um quiz específico? Envie-nos uma mensagem e retornaremos o mais breve possível!</p>
            </div>
        </div>

        {% bootstrap_messages %}
        
        <div class="row gx-4 gx-lg-5 marcador">
        <form action="{% url 'quizes:contato' %}" method="post" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
        
            <div class="justify-content-center d-flex">     
            {% buttons %}
                <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
            {% endbuttons %}
            </div>   
        </form>
        </div>
    </div>
    {% bootstrap_javascript jquery='full' %}
</section>
{% endblock %}