{% load static %}

<footer class="mt-auto mb-auto">

    <div class="container-fluid bg-primary text-center p-3">

        <div class="row">
            <div class="col-md-4 mx-auto">
                <img src="{% static 'img/logo-200-40-Orange.png' %}"
                    height="40" width="100" alt="">
                    <p class="text-center text-white text-uppercase mt-2"> <b> A sua Casa dos Quizes </b></p>
                    <hr>                     
            </div>
        </div>
        <div class="container-fluid"> 
            <div class="row"> 
                <div class="col-md-3 small">
                        <p class="text-center-75 text-white"> &copyQuiz Center </p>
                        <p class="text-center-75 text-white"> By Gessé C Oliveira - @2024</p>
                </div>
                <div class="col-md-6 text-md-center small">
                    <p class="text-center-75 text-white">wwww.quizcenter.com.br </p>
                    
                    {% if preferencias_salvas %}
                    <p class="text-center-75 text-white small"> Termos de uso de cookies aceitos </p>
                    {% else %}
                    <p class="text-center-75 text-white small"> Obrigatório aceite aos termos uso </p>
                    {% endif %}  
                </div>
                <div class="col-md-3 text-md-right small">
                    <p class="text-center-75 text-white"> Guarulhos, São Paulo - Brasil</p>
                    <p class="text-center-75 text-white"> gessecazuza@gmail.com </p>
                </div>
            </div>
        </div>
	</div><!-- //container -->  
</footer>
    <!-- Back to Top -->
    <a href="#" class="float-left"  style="width: 40px; height: 40px; font-size: 17px; padding-top: 12px; transition: background 0.5s;">
         <i class="fa fa-chevron-up"> TOPO </i>   
    </a> <!-- botao-topo -->

    <!-- Bloco destinado aos scripts para cada página  -->
    {% block scripts %} 
        <!-- A ordem deve ser esta porque ele deve ler primeiro o jQuery -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    
        <script src="{% static 'js/popper.js' %}">          </script>
        <script src="{% static 'js/bootstrap.min.js' %}">   </script>
        <script src="{% static 'js/navbar-animada.js' %}">  </script>
        <script src="{% static 'js/lgpd.js' %}"> defer      </script>
    
        <!-- Plug-in widget calendar do jquery -->
        <script src="{% static 'js/datepicker.js' %}"></script>
    
        <!-- Plug-in datable do jquery -->
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
    
        <!-- <script src="{% static 'js/disc.js' %}" defer> </script> -->
        <script>     
        function abrirPopup() {
            var largura = 400;
            var altura = 400;
            var left = (screen.width - largura) / 2;
            var top = (screen.height - altura) / 2;
            var opcoes = "width=" + largura + ', height=' + altura + ', top=' + top + ', left=' + left + ', scrollbars=1';
            window.open("{% url 'preference:politica' %}", "popup", opcoes);
        }
        </script>    
    {% endblock scripts %}
    </body>
</html>