{% load static %}

<footer> <!-- class="mt-auto mb-auto" -->
    <div class="container-fluid bg-primary text-center p-3">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img src="{% static 'img/logo-200-40-Orange.png' %}"
                    height="40" width="100" alt="">
                    <p class="text-center text-white text-uppercase mt-2"> <b> A sua Casa dos Quizes </b></p>
                    <hr>                     
            </div>
        </div>
        <div class="container-fluid"> 
            <div class="row"> 
                <div class="col-md-3 small">
                        <p class="text-center-75 text-white"> &copyQuiz Center </p>
                        <p class="text-center-75 text-white"> By Gessé C Oliveira - @2024</p>
                </div>
                <div class="col-md-6 text-md-center small">
                    <p class="text-center-75 text-white">wwww.quizcenter.com.br </p>
                    
                    {% if preferencias_salvas %}
                        <p class="text-center-75 text-white small"> Termos de uso de cookies aceitos </p>
                    {% else %}
                        <p class="text-center-75 text-white small"> Obrigatório aceite aos termos uso </p>
                    {% endif %}  
                </div>
                <div class="col-md-3 text-md-right small">
                    <p class="text-center-75 text-white"> Guarulhos, São Paulo - Brasil</p>
                    <p class="text-center-75 text-white"> gessecazuza@gmail.com </p>
                </div>
            </div>
        </div>
        
	</div><!-- //container -->  
</footer>
    <!-- Back to Top -->
    <a href="#" class="float-left"  style="width: 40px; height: 40px; font-size: 17px; padding-top: 12px;">
         <i class="fa fa-chevron-up"> TOPO </i>   
    </a> <!-- botao-topo -->

    <!-- Bloco destinado aos scripts para cada página  -->
    {% block scripts %} 
        <!-- A ordem deve ser esta porque ele deve ler primeiro o jQuery -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    
        <script src="{% static 'js/popper.js' %}">          </script>
        <script src="{% static 'js/bootstrap.min.js' %}">   </script>
        <script src="{% static 'js/navbar-animada.js' %}">  </script>
        <script src="{% static 'js/lgpd.js' %}"> defer      </script> <!-- LGPD -->
        <script src="{% static 'js/disc.js' %}" defer>      </script>  <!-- Teste disc -->
    
        <!-- Plug-in widget calendar do jquery -->
        <script src="{% static 'js/datepicker.js' %}"></script>
    
        <!-- Plug-in datable do jquery -->
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>

        <!-- Plug-in mascaras do jquery -->
        <script src="{% static 'js/jquery.mask.min.js' %}"> </script>

        <!-- Função que valida 9 ou 8 dígitos com DDD - https://igorescobar.github.io/jQuery-Mask-Plugin/docs.html --> 
        <script>
            $(document).ready(function() {
        
                var validaFone = function (val) {
                    return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
                },
                spOptions = {
                    onKeyPress: function(val, e, field, options) {
                        field.mask(validaFone.apply({}, arguments), options);
                    }
                };

                $("#id_nascimento").mask("00/00/0000");
                $('#id_telefone').mask(validaFone, spOptions);
        
                // Validar o formulário antes de enviar
                $('#form-perfil').submit(function() {
                    if (!validarData($('#id_nascimento').val())) {
                        alert('Por favor, insira uma data válida.');
                        return false; // Impede o envio do formulário se a data for inválida
                    }
                    if (!validarTelefone($('#id_telefone').val())) {
                        alert('Por favor, insira um número de telefone válido.');
                        return false; // Impede o envio do formulário se o telefone for inválido
                    }
                    return true; // Permite o envio do formulário se todos os campos forem válidos
                });
        
                // Função para validar a data
                function validarData(data) {
                    
                    return true; // Retorna true se a data for válida, caso contrário, retorna false
                }
        
                // Função para validar o telefone
                function validarTelefone(telefone) {
                    return true; // Retorna true se o telefone for válido, caso contrário, retorna false
                }
            });
        </script>
        
        <!-- Abrir template accounts/definir_cookies.html -->
        <script>     
            function abrirPopup() {
                var largura = 600;
                var altura = 600;
                var left = (screen.width - largura) / 2;
                var top = (screen.height - altura) / 2;
                var opcoes = "width=" + largura + ', height=' + altura + ', top=' + top + ', left=' + left + ', scrollbars=1';
                window.open("{% url 'preference:politica' %}", "popup", opcoes);
            }
        </script>
        <!--   modal LGPD -->
        <script>
            $(document).ready(function() {
                $('#lgpdModal').modal('show');
            });
        </script>  
        
    {% endblock scripts %}
    </body>
</html>