{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}  {{ quiz.name }} - Questões {% endblock %}
{% block menu %} {% endblock %}
{% block content %}
<div class="container-fluid" style="margin-top: 50px; margin-bottom: 15px;"> <!--marcador px-4 px-lg-5 h-100 -->
    
    <div class="row"> <!-- justify-content-center d-flex marcador-topo gx-4 gx-lg-5 -->
        <div class="col-lg-12">     
            <h6> Caro(a) usuário(a), {{ request.user }}</h6>
            <hr>
            <div class="h4 bg-warning border text-center text-dark mb-4"> :: PÁGINA EM DESENVOLVIMENTO:: </div>
            <ul>
                <li> <h6> Estamos trabalhando constantemente para implantar novos quizes; </h6> </li>
                <li> <h6> Para melhor precisão dos testes, faz-se necessário preencher todos os dados pessoais; </h6> </li>
                <li> <h6> **Os dados: nome completo, nascimento, sexo, etnia (cor da pele), país e profissão são obrigatórios;</h6> </li>
                <li> <h6> Se ainda não o fez, por favor complete seu cadastro para prosseguir,
                <a href="{% url 'atualizar-dados' %}"><b>  acessando aqui </b> </a> ou em <u> atualizar </u>abaixo; </h6> </li> 
                <li> <h6> Caso não concorde, por favor
                    <a href="{% url 'quizes:ListaQuizes' %}"> <b> clique aqui </b> </a> para voltar ou em <u> cancelar </u>abaixo. </h6>
                </li>
                <hr> 
                    <p class="text-center text-dark"> **Estes dados alimentarão um modelo de aprendizado de máquina 
                    que poderá lhe ajudar em decisões de sua carreira profissional futuramente. </p> 
            </ul>   <hr> 
            <div class="marcador">
                <div class="justify-content-center d-flex mb-1">
                    <a class="btn btn-success btn-md" href="{% url 'atualizar-dados' %}"> ATUALIZAR </a>
                    <a class="btn btn-danger btn-md ml-1" href="{% url 'quizes:ListaQuizes' %}"> CANCELAR </a>
                </div>
            </div>  
        </div>
        
    </div>
</div> 
{% endblock %}