{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="page-section bg-dark">
    <div class="container px-4 px-lg-5">
        <div class="row" data-aos="fade-up">
            <h2 class="text-center text-white mt-0">O que é o teste DISC? </h2>
            <hr class="divider" />
            <h6 class="text-white-75 mt-3 mb-3 text-justify">
                Antes de saber qual é o seu perfil DISC é necessário saber o que é isso. DISC é uma sigla para os quatro tipos de personalidade conhecidas.
                É importante falar que você tem as características de todos os quatro modelos, assim como todas as pessoas. 
                O que o teste faz é dizer qual desses modelos é mais natural para a sua personalidade. 
                Ele também não é capaz de dizer o que você pode ou não pode fazer. Ele só consegue prever como você provavelmente reagiria a algumas situações.
                Existem líderes e profissionais de sucesso de todos os quatro perfis. 
                O que conta de verdade para você ser um deles é conhecer seus pontos fortes e fracos e trabalhar em cima deles. São eles:
            </h6>
            <hr class="divider" />
                <h5 class="text-primary text-center"> <i class="bi bi-check"> Dominância – D; </i> </h5>
                <h5 class="text-primary text-center"> <i class="bi bi-check"> Influência – I; </i> </h5>
                <h5 class="text-primary text-center"> <i class="bi bi-check"> Estabilidade – S; </i> </h5>
                <h5 class="text-primary text-center"> <i class="bi bi-check"> Cautela – C; </i> </h5>
            <hr class="divider" />
        </div>  <!-- Fim da row data-aos="fade-up" -->
    </div>     
</section>
<section class="page-section>"> 
    <div class="container px-4 px-lg-5">
        <div class="row mb-3 mt-3" data-aos="fade-up">  
                <h2 class="text-center mt-0"> Origem do teste DISC </h2>
                    <hr class="divider" /> 
                    <p class="text-muted mt-3 text-justify">
                        O seu primeiro esboço foi publicado 1928 pelo psicólogo William Moulton. Em 1945, outro psicólogo, chamado Walter Clarke, criou um mecanismo 
                        para detectar o perfil DISC das pessoas baseado na teoria Moulton.
                        Ele funciona de forma que a pessoa submetida ao teste terá de responder perguntas e as respostas fornecerão uma métrica sobre os seus comportamentos e competências. 
                        Existem quatro resultados possíveis e eles vão embasar as estratégias do setor de RH.
                        O objetivo é justamente prever, com base em suas personalidades, como os colaboradores irão reagir a determinadas situações. 
                        Esse teste possui 97% de precisão e é usado por várias empresas para definir os pontos fortes e fracos de seus funcionários.
                    </p> <br>
            
        </div>  <!-- Fim da row data-aos="fade-up" --> 
        <div class="row mb-3 mt-3" data-aos="fade-up">     
                <h2 class="text-center mt-5"> Por que um teste de personalidade? </h2>
                <hr class="divider" /> 
                <p class="text-muted mt-3 text-justify">
                    Este teste contribui na identificação de características comuns do dia a dia, e até desconhecidas, sendo demonstradas apenas em situações
                    que nos põe à prova.
                    Diversas são as razões que incentivam a um teste de perfil. Estes não determinam de fato quem
                    é o indivíduo em si, mas facilitam na descrição de suas características.
                </p>
                <hr class="divider" />
                        <h5 class="text-primary text-center"> <i class="bi bi-check"> Autoconhecimento; </i> </h5> 
                        <h5 class="text-primary text-center"> <i class="bi bi-check"> Desenvolvimento pessoal; </i> </h5> 
                        <h5 class="text-primary text-center"> <i class="bi bi-check"> Direcionamento;</i> </h5> 
                        <h5 class="text-primary text-center"> <i class="bi bi-check"> Trabalho em equipe; </i> </h5> 
                        <h5 class="text-primary text-center"> <i class="bi bi-check"> Recrutamento; </i> </h5> 
                        <h5 class="text-primary text-center"> <i class="bi bi-check"> Plano de carreira; </i> </h5> 
                        <h5 class="text-primary text-center"> <i class="bi bi-check"> Feedback. </i> </h5>
                <hr class="divider" />
        </div>  <!-- Fim da row data-aos="fade-up" -->
    
        <div class="row mt-2" data-aos="fade-up"> 
            <div class="col-md-4 col-lg-3 col-xs-12"> 
                <h4 class="text-danger mb-3 mt-3">  Autoconhecimento </h4>
                <p class="text-muted mt-3 mb-3 text-justify">
                    O autoconhecimento, como a própria palavra diz, é o conhecimento que uma pessoa tem sobre si mesma. 
                    É uma investigação individual que busca identificar quais são as características mais marcantes, os gostos, 
                    as inclinações, os padrões de comportamento e os sentimentos vivenciados por ela. Esse aspecto pode colaborar com o desenvolvimento 
                    da autoconfiança necessária para tomar decisões, planejar nosso futuro e definir objetivos e metas de forma eficiente.
                </p>
                <p class="text-muted text-justify">
                    Conhecer-se mais e melhor também ajuda no controle das emoções, tanto negativas quanto positivas. 
                    Dominá-las é uma forma de evitar problemas de autoestima, ansiedade, frustração e instabilidade emocional, entre outras dificuldades psicológicas. 
                </p>
                <p class="text-muted text-justify">
                    Sendo assim, o autoconhecimento é benéfico tanto no âmbito pessoal quanto no profissional. Por meio dele, é possível efetuar 
                    escolhas e tomar decisões que facilitem o cotidiano, além de encontrar o caminho certo a seguir rumo à sua carreira de sucesso.
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xs-12"> 
                <h4 class="text-danger mb-3 mt-3"> Autodesenvolvimento </h4>
                <p class="text-muted mt-3 text-justify">
                    O autodesenvolvimento ou desenvolvimento pessoal é o processo de aprimorar habilidades, conhecimentos, talentos e competências pessoais 
                    para alcançar objetivos pessoais e profissionais. Ele envolve o aprimoramento contínuo das habilidades e do conhecimento, 
                    bem como a expansão da consciência e da compreensão de si mesmo. 
                </p>
                <p class="text-muted text-justify">
                    O desenvolvimento pessoal pode envolver uma ampla variedade de atividades, incluindo leitura, treinamento, educação formal, mentoria, coaching, auto-reflexão, 
                    prática deliberada e outras experiências de aprendizagem. As áreas de desenvolvimento pessoal podem incluir habilidades interpessoais, comunicação, liderança, 
                    inteligência emocional, gestão do tempo, resolução de conflitos, pensamento crítico, resiliência e muitas outras.
                 </p> 
                 <p class="text-muted text-justify">
                    O objetivo do desenvolvimento pessoal é ajudar as pessoas a alcançar seu potencial máximo e a viver uma vida mais feliz, satisfatória e realizada. 
                 </p> 
            </div>
            <div class="col-md-4 col-lg-3 col-xs-12">
                <h4 class="text-danger mb-3 mt-3 text-center"> Direcionamento </h4> 
                <p class="text-muted mt-3 text-justify">
                    Direcionamento refere-se à definição clara de objetivos, metas e prioridades, bem como à tomada de ações deliberadas para alcançá-los. 
                    É o processo de decidir o que é importante para você e concentrar seus esforços e recursos para alcançar esses objetivos.
                </p>
                <p class="text-muted text-justify">
                    O direcionamento pode envolver a definição de metas pessoais, profissionais, financeiras, de relacionamento ou de saúde, e a criação de um plano de ação para alcançá-las. 
                    Também pode envolver a identificação de suas forças e fraquezas pessoais, bem como de oportunidades e ameaças no ambiente ao seu redor.   
                </p>
                <p class="text-muted text-justify">
                    O direcionamento é importante porque ajuda a evitar desperdício de tempo e esforço em atividades que não são importantes ou relevantes para seus objetivos. 
                    Ele também pode ajudar a manter o foco e a motivação, permitindo que você acompanhe seu progresso e celebre suas realizações ao longo do caminho. 
                    Em resumo, o direcionamento é fundamental para alcançar o sucesso e a realização pessoal e profissional. 
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xs-12"> 
                <h4 class="text-danger mb-3 mt-3"> Trabalho em equipe </h4>
                <p class="text-muted mt-3 text-justify">
                    Trabalho em equipe é o processo de colaboração de um grupo de pessoas com diferentes habilidades e conhecimentos para alcançar um objetivo comum. 
                    É a capacidade de trabalhar em conjunto, compartilhando ideias, recursos e esforços para alcançar um objetivo coletivo. 
                </p>
                <p class="text-muted text-justify">
                    O trabalho em equipe envolve a comunicação clara e eficaz, a definição clara de papéis e responsabilidades, a confiança mútua 
                    e o respeito pelos membros da equipe, a colaboração na tomada de decisões e a resolução de conflitos de forma construtiva. 
                </p>
                
                <p class="text-muted text-justify">
                    O trabalho em equipe é importante porque permite que indivíduos com diferentes habilidades, conhecimentos e perspectivas 
                    se unam para alcançar objetivos maiores e mais complexos do que poderiam alcançar individualmente. Além disso, ele pode levar 
                    a um ambiente de trabalho mais colaborativo, criativo e produtivo, onde cada membro da equipe pode aprender e 
                    se desenvolver com base nas habilidades e conhecimentos dos outros.  
                </p>  
            </div>
            <div class="col-md-4 col-lg-3 col-xs-12"> 
                <h4 class="text-danger mb-3 mt-3"> Recrutamento </h4>
                <p class="text-muted mt-3 text-justify">
                    Recrutamento é o processo de encontrar, identificar e atrair candidatos qualificados e adequados para preencher uma ou mais 
                    posições em uma organização. O recrutamento é uma das etapas mais importantes do processo de gestão de talentos, pois ajuda a 
                    garantir que a organização possa encontrar e contratar os profissionais certos para preencher suas necessidades de pessoal.
                </p>
                <p class="text-muted text-justify">
                    O processo de recrutamento pode incluir a divulgação de oportunidades de emprego em sites de emprego, redes sociais, 
                    anúncios em jornais, indicações de funcionários, entre outros. O objetivo do recrutamento é criar um pool de candidatos qualificados
                    e adequados para uma posição, para que a organização possa selecionar e contratar a pessoa mais qualificada para a posição.
                </p>
                <p class="text-muted text-justify">
                    Além disso, o recrutamento pode envolver a triagem de currículos, a realização de entrevistas e testes para avaliar as habilidades, 
                    competências e valores dos candidatos. O processo de recrutamento pode ser realizado por um profissional de recursos humanos, por 
                    uma agência de recrutamento especializada ou por meio de processos automatizados de seleção.
                </p>    
            </div>
            <div class="col-md-4 col-lg-3 col-xs-12"> 
                <h4 class="text-danger mb-3 mt-3"> Plano de carreira </h4>
                <p class="text-muted mt-3 text-justify">
                    Plano de carreira é um processo que envolve a definição de metas e objetivos de carreira a longo prazo e a criação de um plano 
                    estratégico para alcançá-los. É um plano detalhado que descreve as etapas que uma pessoa deve seguir para progredir em sua carreira, 
                    adquirir novas habilidades, responsabilidades e posições mais elevadas na organização.  
                </p>
                <p class="text-muted text-justify">
                    Um plano de carreira pode incluir objetivos de curto, médio e longo prazo, bem como etapas específicas que precisam ser cumpridas 
                    para alcançar cada objetivo. Ele pode envolver o desenvolvimento de novas habilidades, a obtenção de certificações ou diplomas, 
                    a busca de mentoria ou coaching, a procura de oportunidades de trabalho em outras áreas ou empresas, entre outros.    
                </p>
                <p class="text-muted text-justify">
                    Um plano de carreira pode ser elaborado em conjunto com um gestor, consultor de carreira ou outro profissional especializado em 
                    desenvolvimento de carreira. Ele pode ser ajustado ao longo do tempo, conforme as necessidades e objetivos mudam, e pode ajudar 
                    a orientar e motivar uma pessoa em sua trajetória profissional.  
                </p>

            </div>
            <div class="col-md-4 col-lg-3 col-xs-12"> 
                <h3 class="text-danger mb-3 mt-3"> Feedback </h3>
                <p class="text-muted mt-3 text-justify">
                    Feedback é o processo de fornecer a uma pessoa informações sobre seu desempenho ou comportamento, com o objetivo de ajudá-la 
                    a melhorar e alcançar seus objetivos. O feedback pode ser positivo ou negativo, e deve ser dado de maneira construtiva, objetiva e respeitosa.
                </p>  
                <p class="text-muted text-justify">
                    O feedback pode ser fornecido por colegas, supervisores, clientes ou outras pessoas que interagem com a pessoa em questão. 
                    Ele pode ser dado de forma verbal ou escrita, e deve incluir informações específicas sobre o comportamento ou desempenho da pessoa, bem 
                    como sugestões ou orientações sobre como melhorar.  
                </p>  
                <p class="text-muted text-justify">
                    O feedback pode ser usado para ajudar a pessoa a identificar suas forças e pontos fracos, fornecer uma visão sobre como ela é percebida pelos outros 
                    e ajudá-la a desenvolver novas habilidades ou melhorar o desempenho existente. Ele pode ser usado para avaliar o progresso em relação a metas e 
                    objetivos, para identificar problemas ou áreas que precisam de mais atenção e para ajudar a pessoa a se tornar mais eficaz e bem-sucedida 
                    em sua carreira ou papel na organização.   
                </p>  
            </div>
    </div> <!-- Fim da row data-aos="fade-up" -->
    <hr> 
            
        <div class="row" data-aos="fade-up">
            <div class="col">
            <h2 class="text-center mt-5"> Os quatro tipos de lideranças </h2>
                <hr class="divider" /> 
                <p class="text-muted text-center mt-3">
                    Traçados os 04 (quatro) modelos de perfil, foi possível determinar os 04 (quatro) tipos de lideranças:
                    <ol>
                       <li>  <h4 class="badge-danger text-center">  Liderança Dominante  </h4> </li>
                       <li>  <h4 class="badge-warning text-center"> Liderança Influente  </h4> </li>
                       <li>  <h4 class="badge-success text-center"> Liderança Estável  </h4> </li>
                       <li>  <h4 class="badge-info text-center"> Analítica (Conformidade)  </h4> </li>
                    </ol>
                </p>
            </div>    
        </div>
        <hr>
        <div class="row mb-5" data-aos="fade-up"> 
                <img src="{% static 'img/perfis_disc.jpg' %}" alt="Perfil DISC"/>
               
        </div>
        <hr> 
    <div class="row" data-aos="fade-up">
            <div class="col-md-5 mt-auto mb-auto">
                <img src="{% static 'img/features-1.svg' %}" class="img-fluid" alt="">
            </div>
            
            <div class="col-md-7">
                <h3 class="badge-danger text-center mb-3"> Estilo Dominância </h3>
                {% for d in obj.dominante %}
                    {% for c in d.definicao_set.all %}
                        <p class="text-muted text-right"> <i class="bi bi-check"> {{ c.concept }} </i> </p>
                        
                    {% endfor %}
                {% endfor %}   
            </div>
    </div>
    <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2 pt-4 mt-auto mb-auto">
            <img src="{% static 'img/features-3.svg' %}" class="img-fluid" alt="">
        </div>
        
        <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3 class="badge-warning text-center mb-3"> Estilo Influência </h3>
            {% for d in obj.influente %}
                    {% for c in d.definicao_set.all %}
                        <p class="text-muted text-left"> <i class="bi bi-check"> {{ c.concept }} </i> </p>
                        
                    {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="row" data-aos="fade-up">
        <div class="col-md-5 mt-auto mb-auto">
            <img src="{% static 'img/features-2.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5">
            <h3 class="badge-success text-center mb-3"> Estilo Estabilidade </h3>
            {% for d in obj.estavel %}
                {% for c in d.definicao_set.all %}
                    <p class="text-muted text-right"> <i class="bi bi-check"> {{ c.concept }} </i> </p>
                
                {% endfor %}
            {% endfor %}        
        </div>
    </div>

    <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2  mt-auto mb-auto">
            <img src="{% static 'img/features-4.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
        
            <h3 class="badge-info text-center mb-3"> Estilo Cautela </h3>
            {% for d in obj.cauteloso %}
                {% for c in d.definicao_set.all %}
                    <p class="text-muted text-left"> <i class="bi bi-check"> {{ c.concept }} </i> </p>
                
                {% endfor %}
            {% endfor %} 
        </div>
        
    </div>
    <hr>
    </div> <!-- Fim da section title-->
    </div> <!--fim container -->  
</section><!-- End disc Section -->
        
<!-- Call to action-->
<section class="page-section bg-dark text-white-75">
    <div class="container text-center">
        <h4 class="text-center mb-4"> Tendo esse breve conhecimento sobre o teste de perfil, por que não fazer o seu agora? </h4> 
        <h3 class="mt-2 mb-4"> E aí, topa o desafio? </h3>
        <a class="btn btn-primary btn-xl" href="{% url 'quizes:ListaQuizes' %}"> Então vamos lá!</a>
    </div>
</section>
{% endblock %}