.cookie-popup {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 20px;
    /*width: 400px; 
     display: flex;*/
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    justify-content: space-between;
  }
  
  .cookie-popup p {
    margin: 0;
    color: black;
    text-align: center;
  }
  
  .cookie-popup button {
    margin-top: 10px;
  }
   