	/* Coded with love by Mutiullah Samim */

    :root {
        --bs-blue: #0d6efd;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #d63384;
        --bs-red: #dc3545;
        --bs-orange: #f4623a;
        --bs-yellow: #ffc107;
        --bs-green: #198754;
        --bs-teal: #20c997;
        --bs-cyan: #0dcaf0;
        --bs-white: #fff;
        --bs-gray: #6c757d;
        --bs-gray-dark: #343a40;
        --bs-gray-100: #f8f9fa;
        --bs-gray-200: #e9ecef;
        --bs-gray-300: #dee2e6;
        --bs-gray-400: #ced4da;
        --bs-gray-500: #adb5bd;
        --bs-gray-600: #6c757d;
        --bs-gray-700: #495057;
        --bs-gray-800: #343a40;
        --bs-gray-900: #212529;
        --bs-primary: #f4623a; /*  #00006f; #f4623a */
        --bs-secondary: #6c757d;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #f8f9fa;
        --bs-dark: #212529;
        --bs-primary-rgb: 244, 98, 58;
        --bs-secondary-rgb: 108, 117, 125;
        --bs-success-rgb: 25, 135, 84;
        --bs-info-rgb: 13, 202, 240;
        --bs-warning-rgb: 255, 193, 7;
        --bs-danger-rgb: 220, 53, 69;
        --bs-light-rgb: 248, 249, 250;
        --bs-dark-rgb: 33, 37, 41;
        --bs-white-rgb: 255, 255, 255;
        --bs-black-rgb: 0, 0, 0;
        --bs-body-color-rgb: 33, 37, 41;
        --bs-body-bg-rgb: 255, 255, 255;
        --bs-font-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        --bs-body-font-family: Merriweather, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        --bs-body-font-size: 1rem;
        --bs-body-font-weight: 400;
        --bs-body-line-height: 1.5;
        --bs-body-color: #212529;
        --bs-body-bg: #fff;
    }

    body, html {
        /*padding-top: 10rem;
        padding-bottom: calc(10rem - 4.5rem); */
        margin: 0;
        padding: 0;
        height: 100%;
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), 
        url("../img/bg-masthead.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;

    }
    .user_card {
        height: 500px;
        width: 370px;
        margin-top: auto;
        margin-bottom: auto;
        background:  #f4623a; /* #f39c12; 00006f */
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;

    }

    .register {
        height: 550px;
        width: 500px;
        margin-top: auto;   
        margin-bottom: auto;
        background:  #f4623a; /* #f39c12; 00006f */
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;

    }
    .brand_logo_register {
        position: relative;
        height: 100px;
        width: 100px;
        top: -40px;
        border-radius: 50%;
        background: #f4623a; /* #60a3bc*/
        padding: 5px;
        text-align: center;
    }

    .brand_logo_container {
        position: absolute;
        height: 70px;
        width: 130px;
        top: -40px;
        border-radius: 50%;
        background:  #f4623a; /* 60a3bc */
        padding: 10px;
        text-align: center;
    }
    .brand_logo {
        /*position: absolute;*/
        height: 100px;
        width: 100px;
        border-radius: 50%; 
        /*border: 2px solid white; */
        padding: 0px;
    }
    .form_container {
        margin-top: 100px;
    }
    .login_btn {
        width: 100%;
        background: #343a40 !important; /* #110a8e; #f4623a; #495057; #120a8f; #0b065b 25% escuro */
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #c0392b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #c0392b !important;
    }

    header.masthead {
        padding-top: 10rem;
        padding-bottom: calc(10rem - 4.5rem);
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), 
        url("../img/bg-masthead.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
      }

      .marcador{
        /*background: skyblue;
        background: royalblue;
        background-color: var(--bs-gray-dark); */
        background-color: #778899;  /* cinza ardósia #778899; #f4623a */
        border: 2px solid black;
        border-radius: 15px;
        padding: 5px;
        font-size: 12px;
      }
      
      .marcador-topo{
        background-color: var(--bs-gray-500);
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
      
      }
      .marcador-container{
        /*background: royalblue; border: 1px solid #36ae26; */
        /*background-color: #ffffff96;*/
        background-color: var(--bs-gray-500);
        backdrop-filter: blur(10px); /*efeito vidro transparente*/
        border: 1px solid black;
        border-radius: 15px;
        padding: 5px;
        font-size: 11px;
      }
      
      #registrar {
        /*background-color: var(--bs-gray-500); */
        backdrop-filter: blur(30px); /*efeito vidro transparente*/
        background-color: #343a40;  /* cinza ardósia #778899; #f4623a;  #343a40; */
        border: 2px solid black;
        border-radius: 15px;
        padding: 7px;
      }
      
      #registrar label, li, p, small, form-text, text-muted {
        font-weight: bold;
        font-size: 14px;
        color: var(--bs-white);
      }