{% extends 'base-login.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

<div class="marcador-fundo">
    <div class="container-fluid">
        <div class="d-flex justify-content-center h-100"> 
            <div class="marcador-cadastro"> <!--  marcador-topo -->
                
                {% bootstrap_messages %}
            
                    <form action="{% url 'novo-usuario' %}" method="post" class="form" autocomplete="on">
                        {% csrf_token %}

                        {% bootstrap_form form %}
                        <hr>
                        <div class="d-flex justify-content-center">
                            {% buttons %}
                                <button type="submit" class="btn btn-primary"> {{ botao }} </button>
                                <button class="btn btn-info"> <a href="{% url 'quizes:index' %}"> CANCELAR </a> </button>
                            {% endbuttons %}
                        </div>
                    </form>
            </div>    
            {% bootstrap_javascript jquery='full' %}
        </div>
    </div>
</div>

{% endblock %}