{% extends 'base-login.html' %}
{% load static %}

{% block content %}

<body> 
        <div class="marcador-fundo"> <!-- container-fluid h-100 -->
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="{% static 'img/logo-200-40-Orange.png' %}" 
                                alt="Logo" width="90" height="40">
                        </div>
                    </div> 
                
                <p class="text-white text-center small"> Aperfeiçoe suas habilidades com nossos quizes. </p>
                <p class="text-white text-center small"> Realize já o seu teste DISC </p>
              
                <div class="justify-content-center h-100"> 
                    <form method="post" class="form" autocomplete="off">
                        {% csrf_token %}
                        
                        <div class="input-group mb-1">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" class="form-control input_user" value="" placeholder="USUARIO">
						</div>
                        
                        <div class="input-group mb-1">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" class="form-control input_pass" value="" placeholder="SENHA">
						</div>

                        <button class="btn login_btn text-uppercase" type="submit" > Entrar </button> <hr>
                        <div class="container-fluid"> 
                            <div class="float-left"> <!-- float-left -->
                              <p>   <a href="{% url 'novo-usuario' %}" class="text-white"> Registrar-se...  </a> </p>
                            </div>
                            <div class="float-right">  <!-- float-right -->
                              <p>   <a href="{% url 'password_reset' %}" class="text-white"> Recuperar Senha... </a> </p>
                            </div> 
                        </div>  
                    </form>
                </div>
            </div>   <!-- FIM USER-ARD --> 
        </div>
    </div>
</body>

{% endblock %}
{% block lgpd %} {% endblock %}