{% extends 'base-login.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<!-- <section class="page-section"> -->
    <div class="d-flex justify-content-center h-100 marcador-fundo">
        <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h3 class="badge-dark mt-2"> ::REDEFINIR SENHA::  </h3>
                <hr class="divider" />
            </div>
        </div>

        {% bootstrap_messages %}
        <div class="row gx-4 gx-lg-5 marcador-cadastro">
            <ul class="text-white mt-3 mb-3">
                <hr>
                <li class="h6 ml-2"> Por este formulário é póssível zerar seu código de acesso; </li>
                <li class="h6 ml-2"> Favor informar EXATAMENTE o e-mail de seu cadastro pessoal; </li>
                <li class="h6 ml-2"> Enviaremos e-mail de confirmação, com instruções para gerar sua nova senha; </li>
                <li class="h6 ml-2"> Abra o link ou copie e cole-o no seu navegador preferido; </li>
                <li class="h6 ml-2"> Caso não o receber, favor verificar se digitou corretamente.</li>
                <li class="h6 ml-2"> Favor verificar sua caixa postal. Pode ter caído como span. </li>
                <hr>
            </ul>
          
            <form method="post" class="form" autocomplete="off">
                {% csrf_token %}
                {% bootstrap_form form %}
                <hr>                                
                <div class="d-flex justify-content-center mt-1 mb-4">    
                        <button class="btn btn-primary btn-xl" type="submit"> CONFIRMAR </button>
                        <button class="btn btn-light btn-xl ml-3"> 
                            <a href="{% url 'quizes:index' %}"> CANCELAR </a> </button>
                        </div>
                </div>
                <div class="d-flex justify-content-center">  
                
                <hr>
            </form>
        </div>
    </div>
    {% bootstrap_javascript jquery='full' %}
    </div>
</div>
<!-- </section> -->
{% endblock %}