{% extends 'base-login.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<!-- <section class="page-section"> -->
<div class="marcador-fundo">
    <div class="container-fluid">
        <div class="d-flex justify-content-center h-100">
            <div class="text-center">
                <h5 class="badge-dark"> ::REDEFINIR SENHA::  </h5>
                <hr class="divider" />
            </div>
        </div>

    {% bootstrap_messages %}
    
        <div class="d-flex justify-content-center h-100"> 
            <div class="marcador-cadastro">
                <ul class="text-white mt-3 mb-3">
                    <hr>
                    <li class="h6 ml-2"> Por este formulário é póssível zerar seu código de acesso; </li>
                    <li class="h6 ml-2"> Favor informar EXATAMENTE o e-mail de seu cadastro pessoal; </li>
                    <li class="h6 ml-2"> Enviaremos e-mail de confirmação, com instruções para gerar sua nova senha; </li>
                    <li class="h6 ml-2"> Abra o link ou copie e cole-o no seu navegador preferido; </li>
                    <li class="h6 ml-2"> Caso não o receber, favor verificar se digitou corretamente.</li>
                    <hr>
                </ul>
                
                <form method="post" class="form" autocomplete="off">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <hr>                                
                    <div class="d-flex justify-content-center"> 
                        {% buttons %}   
                            <button class="btn btn-primary" type="submit"> CONFIRMAR </button>
                            <button class="btn btn-info"> <a href="{% url 'quizes:index' %}"> CANCELAR </a> </button>
                        {% endbuttons %}    
                    </div>
                </form>
            </div>
        </div>
    </div>
        {% bootstrap_javascript jquery='full' %}
</div>

<!-- </section> -->
{% endblock %}